# dependencias
node_modules

# builds
dist
.vercel

# metadata de herramientas locales
.freebuff

# logs y temporales
*.log
*.log.err
.DS_Store

# entornos/secretos (por si algún día se agregan)
.env
.env.*
